<package-def>
	<class name="Yaspeller" file="src/Классы/Yaspeller.os"/>
    <class name="SpellResult" file="src/Классы/SpellResult.os"/>
    <class name="OptionsYaspeller" file="src/Классы/OptionsYaspeller.os"/>
    <class name="LanguageYaspeller" file="src/Классы/LanguageYaspeller.os"/>
    <module name="ManagerYaspeller" file="src/Модули/ManagerYaspeller.os"/>
    <module name="FormatYaspeller" file="src/Модули/FormatYaspeller.os"/>
</package-def>